# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.env/
*.egg-info/

# Datasets and model weights (too large for Git)
data/
*.pth
*.pt
*.ckpt

!results/*.png
!results/*.jpg
